.heading{
width:100%;
height:fit-content;
margin-top: 0px;
font-size: 40px;
}

.next{
font-size: 20px;
}

.name1{
float:left;

margin-top: 0px;
margin-left: 0px;

border-radius: 0px;
}

.sport{
font-size: 20px;
}

